.button {
    padding: 14px 32px;
    border-radius: 6px;
    border: 1px solid var(--button);
    background-color: var(--button);
    color: var(--font-color2);
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    &:hover {
        background-color: lighten($color: #bf0830, $amount: 10);
        border: 1px solid lighten($color: #bf0830, $amount: 10);
        transition: 0.3s all ease;
    }

    &__outline {
        color: var(--button);
        background-color: var(--font-color2);
        &:hover {
            background-color: var(--button);
            color: var(--font-color2);
            transition: 0.3s all ease;
        }
    }
}
