@font-face{
	font-family: Gloss_And_Bloom;
	font-display: swap;
	src: url("../fonts/Gloss_And_Bloom.woff2") format("woff2"), url("../fonts/Gloss_And_Bloom.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
