.footer {
    background-color: var(--footer-back);
    padding: 55px 0px 37px 0;
    @media screen and (max-width: 768px) {
        padding: 40px 0px 37px 0;
    }
    &__facebook {
        display: block;
        width: 9px;
        height: 18px;
        use {
            fill: var(--font-color2);
            stroke: var(--font-color2);
        }
    }
    &__twitter {
        display: block;
        width: 18px;
        height: 15px;
        use {
            fill: var(--font-color2);
            stroke: var(--font-color2);
        }
    }
    &__instagram {
        display: block;
        width: 18px;
        height: 18px;
        use {
            fill: var(--font-color2);
            stroke: var(--font-color2);
        }
    }
    &__linkedin {
        display: block;
        width: 17px;
        height: 17px;
        use {
            fill: var(--font-color2);
            stroke: var(--font-color2);
        }
    }

    &__text {
        line-height: 168%;
        color: var(--font-color2);
        margin-top: 25px;
        max-width: 287px;
        margin-bottom: 25px;
        @media screen and (max-width: 592px) {
            max-width: 100%;
        }
    }

    &__lists {
        color: var(--font-color2);
        display: flex;
        justify-content: space-between;
        max-width: 455px;
        margin-left: auto;
        @media screen and (max-width: 592px) {
            margin-left: 0;
            max-width: 100%;
        }
        a {
            color: var(--font-color2);
        }
        @media screen and (max-width: 480px) {
            flex-wrap: wrap;
        }
    }

    &__list-title {
        font-size: 18px;
        padding-bottom: 30px;
        font-weight: bold;
        @media screen and (max-width: 592px) {
            padding-bottom: 20px;
        }
    }

    &__lists-item {
        @media screen and (max-width: 480px) {
            flex: 0 0 50%;
        }
    }
    &__list-item {
        padding-bottom: 21px;
    }

    &__list-link {
        &:hover {
            color: var(--button);
            transition: 0.3s all ease;
        }
    }
    &__social-link {
        &:hover {
            use {
                transition: 0.3s all ease;
                stroke: var(--button);
                fill: var(--button);
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__item {
        flex: 0 1 50%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 54px;
        @media screen and (max-width: 768px) {
            padding-bottom: 34px;
        }
        @media screen and (max-width: 592px) {
            flex-direction: column;
        }
    }

    &__info {
        color: var(--font-color2);
        display: flex;
        justify-content: space-between;
        padding-top: 29px;
        @media screen and (max-width: 422px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__terms {
        text-decoration: underline;
        a {
            color: var(--font-color2);
            &:hover {
                color: var(--button);
                transition: 0.3s all ease;
            }
        }
        @media screen and (max-width: 422px) {
            margin-top: 10px;
        }
    }
}
