.navbar {
    display: flex;
    align-items: center;

    &__link {
        color: var(--nav-menu);
        font-size: 18px;
        line-height: 100%;
        padding-left: 60px;
        &:hover {
            color: var(--button);
            transition: 0.3s all ease;
        }
    }

    &__button {
        margin-left: 20px;
    }
}
