@import "reset";
@import "fonts";
@import "page";
@import "header";
@import "navbar";
@import "button";
@import "hero";
@import "burger-menu";
@import "brands";
@import "products";
@import "card";
@import "info";
@import "innovation";

.svg-logo-dims {
    height: 54px;
}

.svg-hero_home-dims {
    max-width: 848px;
    height: 642px;
    @media screen and (max-width: 1147px) and (min-width: 706px) {
        max-width: 700px;
        height: 542px;
    }
    @media screen and (max-width: 705px) and (min-width: 500px) {
        max-width: 490px;
        height: 442px;
    }
    @media screen and (max-width: 499px) {
        max-width: 290px;
        height: 232px;
    }
}

.divider {
    border-bottom: 1px solid rgba(197, 203, 226, 0.5);
}
