@import "reset";
@import "fonts";
@import "page";
@import "header";
@import "navbar";
@import "button";
@import "hero";
.svg-logo-dims {
    //width: 137px;
    height: 38px;
}

.svg-hero_home-dims {
    max-width: 848px;
    height: 642px;
}
